$asphalt: #4C5866;
$ghost-white: #F8F8FF;
$charcoal: #36454F;
$pumpkin: #FF7518;
$amazon: #FF9900;
$peach: #FFE5B4;
$spanish: #989898;
$white: #F5F5F5;
$jetBlack: #343434;
$blueish: #26e5ff;
$blackish: #020301;
$white-wash: #FBFBFB;
$light-choc: #BFA86D;
$dark-choc: #AB882F;
