$asphalt: #4C5866;
$ghost-white: #F8F8FF;
$charcoal: #36454F;
$pumpkin: #FF7518;
$amazon: #FF9900;
$peach: #FFE5B4;
$spanish: #989898;
$gray: #E4E5E8;
$jetBlack: #343434;
$blackish: #020301;
$white: #FEFDFE;
